body {
    background-color: rgb(244, 250, 250);
    background-image: url(./images/adam-lukomski-ja9VHwgcABo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(71, 31, 2); */
    padding-bottom: 25px;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}

#robots {
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 15px;
    margin: auto;
    /* margin-bottom: 50px; */
    padding: 30px 10px;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(71, 31, 2);
    text-align: center;
    margin-top: 10px;
    box-shadow: 5px 5px 10px 0 rgb(73, 34, 3);

}

#navbar>a {
    /* margin-right: 25px; */
    color: rgb(71, 31, 2);
    padding: 30px 10px;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(71, 31, 2);
    text-align: center;
    margin-top: 10px;
    box-shadow: 5px 5px 10px 0 rgb(73, 34, 3);
}

#navbar>a:hover {
    color: burlywood;
    background-color: rgb(73, 34, 3);
    font-size: larger;
}

#main-doc {
    margin-left: 20%;
    margin-top: 20px;
    /* margin-top: 200px; */
}

h1 {
    font-size: 56px;

}

#horizon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 5px;
    border-color:burlywood;
    background-color:rgb(71, 31, 2);
    color: burlywood;
    padding-left: 20px;
    margin-right: 19%;
    margin-bottom: -100px;
}
.main-section {
    margin-top: 65px;
    color:rgb(71, 31, 2);
    /* color:rgb(244, 250, 250); */
    width: 80%;
    border: 10px double rgb(71, 31, 2);
    margin-right: 15%;
    text-shadow: 1px 1px 1px rgb(244, 250, 250), -1px -1px 1px rgb(244, 250, 250);
    /* text-shadow: 1px 1px 1px rgb(71, 31, 2), -1px -1px 1px rgb(71, 31, 2); */

    letter-spacing: 2px;
}
p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    /* margin: auto; */
}
/* .main-section:hover { */
    /* position: relative;
    z-index: 5; */
    /* color:rgb(71, 31, 2); */
    /* background-color: rgb(250, 219, 179); */
/* } */

header {
    font-size: 35px;
    text-decoration: underline;
    background-color: rgb(71, 31, 2);
    color:burlywood;
    /* margin-right: 20%; */
    text-align: center;
    text-shadow: none;
}
header:hover {
    background-color: burlywood;
    color:rgb(73, 34, 3);
}
/* #section1 {
    margin-bottom: -285px;
    position: relative;
    z-index: 5;
    width: 1300px;
    height: 250px;
}
#section1:hover {
    margin-bottom: -285px;
    position: relative;
    z-index: 5;
    width: 1300px;
    height: 250px;
    background-color: rgb(106, 245, 117);
    color: rgb(71, 31, 2);
    opacity: 0.3;
    border: 2px solid rgb(71, 31, 2);
} */
#section1 {
    position: relative;
    width: 1220px;
    height: 250px;
    background-color: rgb(248, 245, 240);
    opacity: 0.5;
    margin-top:65px;
    margin-bottom: -320px;
    z-index: -1;
}
#section2 {
    position: relative;
    width: 1220px;
    height: 220px;
    background-color: rgb(248, 245, 240);
    opacity: 0.5;
    margin-top: 65px;
    margin-bottom: -290px;
    z-index: -1;
}
#section3 {
    position: relative;
    width: 1220px;
    height: 440px;
    background-color: rgb(248, 245, 240);
    margin-top: 65px;
    opacity: 0.5;
    margin-bottom: -510px;
    z-index: -1;
}
#section4 {
    position: relative;
    width: 1220px;
    height: 380px;
    background-color: rgb(248, 245, 240);
    opacity: 0.5;
    margin-bottom: -450px;
    margin-top: 65px;
    z-index: -1;
}
#section5 {
    position: relative;
    width: 1220px;
    height: 310px;
    background-color: rgb(248, 245, 240);
    opacity: 0.5;
    margin-bottom: -380px;
    margin-top: 65px;
    z-index: -1;
}
#section6 {
    position: relative;
    width: 1220px;
    height: 320px;
    background-color: rgb(248, 245, 240);
    opacity: 0.5;
    margin-bottom: -390px;
    margin-top: 65px;
    z-index: -1;
}
#indent1, #indent2, #indent3, #indent4, #indent5, #indent6 {
    height: 110px;
}
/* #Early_Robots {
    position: relative;
    z-index: 5;
} */
#pic {
    float: right;
    margin-top: -50px;
    /* margin: auto;
    display: block; */
}
/* .main-section p {
    background-color: rgb(253, 236, 214);
    -webkit-backdrop-filter: opacity(0.05);
    backdrop-filter: opacity(0.05);
    
} */
#rc-img {
    /* width: 200px; */
    display: flex;
    justify-content: flex-end;
    animation: fly 6s infinite;
}

#torpedo {
    background-color: none;
    font-size: 22px;
    color: rgb(244, 250, 250);
    text-shadow:none;
    outline-style: dashed;
    outline-color: black;
}
#list {
    font-size: 24px;
    font-weight: bold;
}


#bottom {
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: burlywood;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 110px;
    margin-left: 20%;
    margin-right: 15%;
    background-color: rgb(71, 31, 2);
    color:burlywood;
    font-size: 20px;
    text-align: center;
}
#bottom a{
    color: burlywood;
}
#bottom a:hover {
    background-color: rgb(71, 31, 2);
    color:burlywood;
    font-size:larger;
}
/* @media screen and (max-width: 480px)  */
@media (max-width: 400px) {
  
    #navbar {
        font-size: 10px;
        margin-right: 80%;
        border: none;
    }

    #navbar a {
        padding: 10px 5px;
    }

    #main-doc {
        width: 100%;
        /* margin-top: 200px; */
         font-size: 12px;
         margin-left: 25%;
    }
    p {
        font-size: 12px;
        line-height: 15px;
    }
   
    #list {
        font-size: 12px;
    }
    h1 {
        font-size: 28px;
    }
    #bottom a{
        font-size: 12px;
    }
    #bottom  {
        width: 70%;
    }
    header {
        font-size: 18px;
    }
    #robots {
        font-size: 12px;
    }
}

@keyframes fly {
    0% {
        margin-right: 0px;
        background-color: none;
    }

    50% {
        margin-right: 70%;
        background-color: black;
    }

    100% {
        margin-right: 0px;
        background-color: none;
    }
}
